@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-gray-100 text-gray-900;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
